.home-title{
	font-size: 60px;
    color: rgb(0, 0, 255);
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold
}
.body-text{
	font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;

    margin-left: 300px;
    margin-right: 300px;
    font-family: Arial, sans-serif;
}
.home-buttons {
    display: grid;
    place-items: center; 
    gap: 10px; /* Optional: space between buttons */
}

/* Agregar-donaciones */
.body-agregar{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}