.stats-container{
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background: white;
    border: .2em solid var(--black-color);
    border-radius: .25em;
    margin: 1em 1em 2em 1em;
    box-shadow: .3em .3em 0px 0px black;
    margin: 0 auto;
    width:70%;
}


.stats-container h1 {
    display: flex;              
    justify-content: center;     
    align-items: center;         
    margin: 0;                   
    padding: 20px;               
    width: 100%;                 
}

.highcharts-description{
    display: flex;               
    justify-content: center;     
    align-items: center;         
    margin: 0 auto;                  
                   
    width: 100%;  
}

