<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agregar Donacion</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/media/chip-svg.svg">
 
</head>
<body class = "body-agregar">
    <div >
        <button id="corner-btn" type="button" onclick="window.location.href='/'">Home</button>
    </div>
	<div class = "main-container">
		<div id="val-box" hidden>
            <h2 id="val-msg" ></h2>
            <ul id="val-list"></ul>
        </div>
        <form name="agregarDonacion" method="post" enctype="multipart/form-data">

            <h1 style="text-align: center;">Información personal</h1>
            <br><hr><br>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" minlength="3" maxlength = "80" size = "80" required><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" size = "30" required><br>

            <label for="phone">Teléfono</label>
            <input type="text" name="phone" id="phone" size = "15" ><br>

            <label for="select-region">Region</label>
           	<select name="region" id="select-region" required>
                <option value="">Seleccione una Región</option>
            </select><br>

            <label for="select-comuna">Comuna</label>
            <select name="select-comuna" id="select-comuna" required disabled>
                <option value="">Seleccione una Región</option>
            </select><br>


            <button id="add-btn" type="button">Agregar Dispositivo</button>
            <!-- Para separar los botones -->
            <div style="height: 10px;"></div>
            <button id="submit-btn" type="button">Publicar esta donación</button>

        </form>
        <div id = "confirm" style="text-align: center;" hidden>
            <h1>¿Confirma que desea publicar esta donación?</h1>
            <div class="home-buttons d-flex justify-content-center" style="padding: 20px;">
                <button id = "confirm-btn" type="button">Si, Confirmar</button>
                <button type="button">Ver Dispositivos</button>
            </div>
        </div>
	</div>
    <script>
        document.getElementById("confirm-btn").addEventListener("click", () => {
            document.forms["agregarDonacion"].submit(); // Submit the form when confirmed
        });
    </script>
    <script src="../static/js/select.js"></script>
    <script src="../static/js/add-elements.js"></script>
    <script src="../static/js/validation.js"></script>
</body>
</html>