<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{%block title %}{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>   
    <body>
        <div class = "navbar">
            <img id = "logo-id" src="{{url_for('static', filename = 'media/chip-svg.svg')}}" alt="Logo de donacion">
            <h1>Donacion de Artículos Electrónicos</h1>
            <a class="navbar-page" href="{{ url_for('home_page') }}">Home</a>
            <a class="navbar-page" href="{{ url_for('stats_dispositivo') }}">Gráfico tipo de dispositivos</a>
            <a class="navbar-page" href="{{ url_for('stats_contacto') }}">Gráfico contactos por comuna</a>
        </div>
    </body>
    <section class = "main-container">
        {% block content %}{% endblock %}
        {% block javascript %}{% endblock %}
    </section>
</html>