{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/homepage.css')}}">
<link rel="icon" type="image/x-icon" href="../static/media/chip-svg.svg">
{% endblock %}

{% block content %}
    <div class = "index-intro">
        <h1 class = "home-title">DONA TUS ARTÍCULOS ELECTRÓNICOS!!</h1>
        <div class = "home-description">
            <p class = "home-text">Recicla tu dispositivo inactivo y da nueva vida a otros dispositivos que puedan beneficiar a quienes los necesiten. Al reciclar, no solo estás reduciendo residuos electrónicos, sino que también estás contribuyendo a un ciclo de reutilización que ayuda a mejorar la vida de otras personas. Cada dispositivo cuenta, y tu acción puede marcar una gran diferencia en la comunidad. Haz click para ver dispositivos o agregar tu donación. ¡Haz tu parte y transforma lo viejo en algo nuevo y útil!</p>
            <img 
                id= "home-img" 
                src = "{{url_for('static', filename = 'media/dispose.jpg')}}"
                alt = "Imagen Referencial">
        </div>
        <div class="home-btns">
            <button type = "button" id = "add-dev-btn" onclick="window.location.href='/agregar_donacion'">Agregar Donación</button>
            <button type="button" id = "view-dev-btn" onclick="location.href='{{ url_for('ver_dispositivos', pagina=1) }}'">Ver Dispositivos</button>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}