{% extends 'base.html' %}

{%block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/informacion-dispositivo.css')}}">
{%endblock%}

{%block content %}
<div class = "device-info" id="dispositivo-info">
{% if device_info %}
    <div>
        <h1 style="text-align: center;">INFORMACION DE CONTACTO</h1>
        <br>
        <p><strong>Nombre:</strong> {{device_info.nombre_contacto}}</p>
        <p><strong>Email:</strong> {{device_info.contacto_email}}</p>
        <p><strong>Teléfono:</strong> {{device_info.celular_contacto}}</p>
        <p><strong>Comuna:</strong> {{device_info.comuna}}</p>
        <p><strong>Región:</strong> {{device_info.region}}</p>
        <br>
        <h2>Información del dispositivo</h2>
        <br>
        <p><strong>Nombre:</strong>{{device_info.nombre_dev}}</p>
        <p><strong>Tipo:</strong> {{device_info.tipo}}</p>
        <p><strong>Estado:</strong> {{device_info.estado}}</p>
        <p><strong>Años de Uso:</strong>{{device_info.anos_uso}}</p>
        {% if device_info.descripcion%}
        <p><strong>Descripcion:</strong>{{device_info.descripcion}}</p>
        {% endif%}
        <br>
        <h2>Fotos</h2>

        {% for foto in device_info.archivos %}
        <img class="section-img section-img-small" alt="image not loading" src="{{ foto }}" onclick="changeImgSize(1)">
        {% endfor %}

        <!--Arreglar zona de comentarios-->
        <div class="comment-section">
            <h2>Comentarios</h2>
            <hr>
            <ul  class="comment-list">
            {% for comentario in device_info.comentarios %}
                <li class = "custom-item">
                    <img src="../static/media/user.png" alt="" width="20" height="20">
                    <strong>{{comentario.nombre}}:</strong>
                    <p class="comment-date">{{comentario.fecha}}</p>
                    <p>{{comentario.texto}}</p>
                </li>
            {% endfor %}
            </ul>


            <form name="agregarComentario" id="agregarComentario" method="POST" enctype="multipart/form-data"  >
                <label id = "nombre-id"> Nombre</label>
                <input type="nombre" name="nombre" id="comment-name" minlength="3" maxlength = "80" size = "5" required><br>
                
                <label>Descripción</label>
                <textarea name="contenido" id ="comment-text" rows="4" cols="50"></textarea>

                <button id="add-btn" type="button">Agregar Comentario</button>
            </form>
        </div>
        
    </div>
</section>
{% endif %}
</div>
{%endblock%}
{%block javascript%}
<script src="../static/js/validation.js"> </script>
<script src="{{url_for('static', filename='js/com-validation.js')}}"></script>
{%endblock javascript%}