<!DOCTYPE html>
<html lang = "es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Información dispositivos</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="information-body">
    <div>
        <button id="corner-btn" type="button" onclick="window.location.href='/'">Home</button>
    </div>
    {% if device_info %}
    <section class="device-section" id="dispositivo-info" >
        <div>
            <h1 style="text-align: center;">INFORMACION DE CONTACTO</h1>
            <br>
            <p><strong>Nombre:</strong> {{device_info.nombre_contacto}}</p>
            <p><strong>Email:</strong> {{device_info.contacto_email}}</p>
            <p><strong>Teléfono:</strong> {{device_info.celular_contacto}}</p>
            <p><strong>Comuna:</strong> {{device_info.comuna}}</p>
            <p><strong>Región:</strong> {{device_info.region}}</p>
            <br>
            <h2>Información del dispositivo</h2>
            <br>
            <p><strong>Nombre:</strong>{{device_info.nombre_dev}}</p>
            <p><strong>Tipo:</strong> {{device_info.tipo}}</p>
            <p><strong>Estado:</strong> {{device_info.estado}}</p>
            <p><strong>Años de Uso:</strong>{{device_info.anos_uso}}</p>
            {% if device_info.descripcion%}
            <p><strong>Descripcion:</strong>{{device_info.descripcion}}</p>
            {% endif%}
            <br>
            <h2>Fotos</h2>

            {% for foto in device_info.archivos %}
            <img class="section-img section-img-small" alt="image not loading" src="{{ foto }}" onclick="changeImgSize(1)">
            {% endfor %}

            <div class="comment-section">
                <h2>Comentarios</h2>
                <hr>
                <ul  class="comment-list">
                    <li class="custom-item">
					    <img src="../static/media/user.png" alt="" width="20" height="20">
					    <strong>Maria_78:</strong>
					    <p class="comment-date">hace 1 mes</p>
					    <p>¿Qué versión de Android tiene?</p>
					</li>
					<li class="custom-item">
					    <img src="../static/media/user.png" alt="" width="20" height="20">
					    <strong>Juanito23:</strong>
					    <p class="comment-date">hace 3 semanas</p>
					    <p>¿La batería todavía tiene buena duración?</p>
					</li>
					<li class="custom-item">
					    <img src="../static/media/user.png" alt="" width="20" height="20">
					    <strong>ClaudiaR:</strong>
					    <p class="comment-date">hace 1 semana</p>
					    <p>¿Algún problema con el rendimiento?</p>
					</li>

                </ul>
                <div id="val-box-1" hidden>
		            <h2 id="val-msg-1" ></h2>
				</div>
                <div class="d-flex" id = "nombre-comentario-1">
                    <label for="nombre-comentarista1">Nombre:</label>
                    <input type="text" name="nombre-comentarista" id="nombre-comentarista1" minlength="3" maxlength="80" size="5" required>
                </div>
                <form name = "comment-form-1">
                    <textarea placeholder='Agregar comentario' name="comment" id="comentario-1" rows="4" cols="205" required minlength="3" maxlength="80"></textarea>
                    <br>
                    <button type="button" class="send-comment" onclick=validateCommentSection(1)>Agregar comentario</button>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
    <script src="../static/js/validation.js"> </script>
</body>
</html>
