{% extends 'base.html' %}

{%block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/stats-dispositivo.css')}}">
{%endblock%}

{%block content%}
<div class = "stats-container">
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class = "highcharts-description">
            Gráfico de tipos de dispositivos donados hasta el momento
        </p>
    </figure>
</div>
{% endblock %}

{%block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats-device.js')}}"></script>
{%endblock%}