{% extends 'base.html' %}

{%block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/ver-dispositivos.css')}}">
{%endblock%}

{% block content%}
<div class="ver-dispositivos">
    <table class = "table-dispositivos">
        <thead class = "table-heading">
            <tr>
                <th>Tipo</th>
                <th>Nombre<br>Dispositivo</th>
                <th>Estado</th>
                <th>Comuna</th>
                <th>Fotos</th>
            </tr>
        </thead>  
        
        <tbody>
			{% if data %}
				{% for dev in data%}
						<tr>
							<td><a href="{{ url_for('info_disp', id=dev.id) }}">{{ dev.tipo }}</a></td>
							<td><a href="{{ url_for('info_disp',id=dev.id) }}">{{ dev.nombre }}</a></td>
							<td><a href="{{ url_for('info_disp',id=dev.id) }}">{{ dev.estado }}</a></td>
							<td><a href="{{ url_for('info_disp',id=dev.id) }}">{{ dev.comuna }}</a></td>
							<td><a href="{{ url_for('info_disp',id=dev.id) }}"><img class = "table-img" alt="image not loading" src="{{dev.ruta_foto}}"></a></td>
						</tr>
				{% endfor %}
			{% endif %}
			</tbody>
    </table>

</div>
<div class = "table-btns">
    {% if pagina < total_pages %}
    <button id="next-btn" type="button"  onclick="location.href='{{ url_for('ver_dispositivos', pagina=pagina+1) }}'">Siguiente Página</button>
    {% endif %}
    {% if pagina > 1 %}
    <button id="prev-btn" type="button"  onclick="location.href='{{ url_for('ver_dispositivos', pagina=pagina-1) }}'">Página Anterior</button>
    {% endif %}
</div>
{% endblock%}

{% block javascript%}
<script src="../static/js/show-info.js"></script>
{%endblock%}