<!DOCTYPE html>
<html lang ="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ver Dispositivos</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class= "ver-dispositivos-body">
	<div >
        <button id="corner-btn" type="button" >Home</button>
    </div>
	<div class = "table-container">
		<table>
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Nombre<br>Dispositivo</th>
					<th>Estado</th>
					<th>Comuna</th>
					<th>Fotos</th>
				</tr>
			</thead>
			<tbody>
				<tr onclick="showDevice(1)">
					<td>Tablet</td>
					<td>Lenovo Tab P11</td>
					<td>Funciona Perfecto</td>
					<td>Providencia</td>
					<td><img class = "table-img" alt="image not loading" src="../static/media/lenovo.jpg"></td>
				</tr>
			</tbody>
			<tbody>
				<tr onclick="showDevice(2)">
					<td>Tablet</td>
					<td>Ipad Mini 1era generacion</td>
					<td>No Funciona</td>
					<td>Las Condes</td>
					<td><img class = "table-img" alt="image not loading" src="../static/media/ipadmini.jpg"></td>
				</tr>
			</tbody>
			<tbody>
				<tr onclick="showDevice(3)">
					<td>Audífonos</td>
					<td>JBL Tune 520BT</td>
					<td>Funciona a medias</td>
					<td>Iquique</td>
					<td><img class = "table-img" alt="image not loading" src="../static/media/jbltune.jpg"></td>
				</tr>
			</tbody>
			<tbody>
				<tr onclick="showDevice(4)">
					<td>Mouse</td>
					<td>Logitech G304 Lightspeed</td>
					<td>Funciona Perfecto</td>
					<td>Negrete</td>
					<td><img class = "table-img" alt="image not loading" src="../static/media/logitechg304.jpg"></td>
				</tr>
			</tbody>
			<tbody>
				<tr onclick="showDevice(5)">
					<td>Impresora</td>
					<td>Impresora Canon G-2110</td>
					<td>Funciona a medias</td>
					<td>Pemuco</td>
					<td><img class = "table-img" alt="image not loading" src="../static/media/impresora.jpg"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="../static/js/logic.js"></script>
	<script src="../static/js/show-info.js"></script>
</body>
</html>